{% extends 'base.html'%}
{% block content %} 

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
<div class="widget stacked widget-table action-table" style="padding-top: 3px;">
    <div class="widget-content">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>BookName</th>
                    <th>AuthorName</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th class="td-actions">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.book_name.bookName }}</td>
                    <td>{{ book.author_name.name }}</td>
                    <td>
                        <div class="truncate-text">{{ book.description }}</div>
                    </td>
                    <td>{{ book.price }}</td>
                    <td>
                        <form action="{% url 'buy' book.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-success" value="AddCart">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{% url 'book' %}" class="btn btn-warning">Back</a>

</body>
{% endblock content %} 
